.button {
  padding: 0.6rem 1.6rem;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  background-color: #147b73;
  color: #d9e2f1;
  cursor: pointer;
}

.button:hover,
.button:focus {
  background-color: #319890;
}

.mode {
  margin: 1rem;
  color: red;
}
