.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #111;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #222;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

/* Navigation Links */
.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  transition: all 0.3s ease;
}

/* Hover Effect */
.navbar a:hover,
.theme:hover {
  color: #ff8a05;
  transform: scale(1.1);
}
.theme {
  font-size: 2rem;
  cursor: pointer;
  display: flex;
}
.active {
  background: linear-gradient(90deg, #ff8a05, #f9b331);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.navlink {
  background-color: purple;
  border: none;
  color: inherit;
  font: inherit;
  cursor: pointer;
  padding: 0;
}

.lightmode {
  color: white;
  background-color: rgb(44, 43, 44);
  border-radius: 1rem;
  font-weight: 600;
  font-size: large;
  padding: 1rem;
  cursor: pointer;
}
.lightmode:hover {
  background-color: black;
  color: #fff;
}
.darkmode {
  color: white;
  background-color: #111;
  border-radius: 1rem;
  font-weight: 600;
  font-size: large;
  padding: 1rem;
  cursor: pointer;
}

.darkmode:hover {
  background-color: white;
  color: #000;
}
