:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #2b3531;
    --foreground: #ededed;
  }
}
h1 {
  text-align: center;
  margin: 50px;
}
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #2b3531;
}
main {
  background-color: #2b3531;
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.stockPrice {
  color: #007bff;
  font-weight: 600;
  font-size: 1.1rem;
  margin-top: 0.5rem;
}
.stockPrice.positive {
  color: #16a34a; /* green */
}

.stockPrice.negative {
  color: #dc2626; /* red */
}

main {
  margin-top: 50px;
}

#user-input {
  padding: 2rem;
  max-width: 40rem;
  margin: 2rem auto;
  border-radius: 10px;
  background: linear-gradient(180deg, #3eba9d, #145038);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

/* label style */
#user-input label {
  flex: 1; /* label takes 1 part of the row */
  font-family: "Roboto Condensed", sans-serif;
  font-size: 1.2rem !important;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  text-align: right;
}

/* input style */
#user-input input {
  flex: 2; /* input takes 2 parts of the row */
  padding: 0.8rem 1rem;
  border: 1px solid #76c0ae;
  border-radius: 0.4rem;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  font-size: 1rem;
  transition: all 0.2s ease;
}

#user-input input:focus {
  outline: none;
  border-color: #0dffc7;
  background-color: rgba(255, 255, 255, 0.2);
}

/* button on its own centered line */
#user-input button {
  align-self: center;
  background-color: #1a1f1d;
  color: wheat;
  font-size: 1.2rem;
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

#user-input button:hover {
  background-color: #2a2f2d;
  transform: scale(1.05);
}
#auth-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 50rem;
  /* margin: 2rem auto; */
}
#auth-logout {
  margin-left: auto;
}
#auth-header p {
  font-size: 1.25rem;
}

#auth-header button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border: none;
  background-color: #6f34a9;
  color: #d0cfd6;
  border-radius: 3px;
}

#auth-header button:hover,
#auth-header button:active {
  background-color: #5f2a8a;
}
